
.product-oferta {
    display: flex; 
    width: 100%;
}

.left-panel {
    flex: 1; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.right-panel {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 400px; 
    position: relative; 
}

.shoe-image {
    max-width: 100%; 
    height: auto;
}

.arrow-buttons {
    position: absolute; 
    top: 50%; 
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    transform: translateY(-50%); 
}

.arrow-buttons button {
    background-color: #C92071; 
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.arrow-buttons button:hover {
    background-color: #0056b3; 
}

.navigation-dots {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px; 
    border-radius: 50%;
    background-color: lightgray; 
    cursor: pointer; 
}

.dot.active {
    background-color: #C92071; 
}

.offer-button {
    background-color: #C92071; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.offer-button:hover {
    background-color: #0056b3; 
}
